body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

Table {
  border: 2px green solid;
  margin: 20px;
  width: 75%;
}

.tablehead {
  border: 2px green solid;
  width: 100px;
}
.box {
  border: 2px green solid;
  width: 100px;
}
